:root {
  font-family: 'Inter', system-ui, sans-serif;
  color: #e6f1ff;
  background-color: #020617;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 6px;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #00000000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}