PORT=4000
DATABASE_URL=postgresql://postgres:YOUR_DB_PASSWORD@localhost:5432/aquacontrol
MQTT_URL=mqtt://localhost:1883
MQTT_TOPIC=aquacontrol32/esp32/#
JWT_SECRET=YOUR_SUPER_SECRET_KEY
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
